<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="browser" value="Chrome"/>
		<add key="Url" value="https://ui.freecrm.com/"/>
		<add key="loginemailid" value="sudarshandn@gmail.com"/>
		<add key="loginpassword" value="Sudarshan@123"/>
		<add key="invalidloginemailid" value="sudarshandn"/>
		<add key="invalidloginpassword" value="Sudarshan"/>
		<add key="firstname" value="firstname"/>
		<add key="lastname" value="lastname"/>
		<add key="companyname" value="name"/>
		<add key="dealtitle" value="TestTitle"/>
	    <add key="calenderEventname" value="TestEvent"/>
    </appSettings>
</configuration>
